body {
  font-family: "Courier New", Courier, monospace;
}

img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

h1 {
  font-size: 20px;
  text-align: center;
  font-weight: 50;
  line-height: 28.8px;
  color: black;
  margin-bottom: 5px;
}

h2,
h4 {
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  line-height: 28.8px;
  color: black;
  margin-bottom: 15px;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

li {
  font-size: 15px;
  font-weight: 100;
  line-height: 19px;
  margin-right: 10px;
}

li:first letter {
  text-transform: capitalize;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 25px;
  border: 1px solid black;
  border-radius: 20px;
  background-image: linear-gradient(
    to right top,
    #eab9da,
    #c687b1,
    #528ec3,
    rgb(198, 220, 237),
    rgb(128, 173, 236)
  );
}

.d-flex.weather-temperature {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-temperature strong {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -30px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.weather-forecast {
  align-items: center;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperature {
  text-align: center;
}
.weather-forecast-date {
  text-align: center;
}
.weather-forecast-temperature-max {
  font-weight: bold;
}

.weather-forecast {
  font-size: larger;
}
